<div class="chat-header">
 <div class="header-left">
   <div class="chat-title">
     タイトル
   </div>
 </div>
 
 <div class="header-right">
   <div class="finish-btn">
    <a href="#">解散</a>
   </div>
 </div>
</div>

<div class="chat-main">
 <%= render partial: 'message', collection: @messages %>
</div>

<%# <div class="form"> %>
<%= form_with model: [@room, @message], class: 'form', local: true do |f| %>
 <div class="form-input">
   <%# <input class="form-message" placeholder="type a message"> %>
   <%= f.text_field :content, class: 'form-message', placeholder: 'type a message' %>
   <label class="form-image">
     <span class="image-file">画像</span>
     <%# <input type="file" class="hidden"> %>
     <%= f.file_field :image, class: 'hidden' %>
   </label>
 </div>
 <%# <input class="form-submit" type="submit" value="送信"> %>
 <%= f.submit '送信', class: 'form-submit' %>
<% end %>
<%# </div> %>